image: hello-world:latest

stages:
# - build-img
# - spack-test
  - test

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_ID            # Execute jobs in merge request context
    - if: $CI_COMMIT_BRANCH == 'main'     # Execute jobs when a new commit is pushed to main branch

variables:
  CI_REGISTRY_IMAGE: ${CI_REGISTRY}/exa/mfix/nvcc

###### Test jobs #####

.test:cmake: &cmake_def
  stage: test
  image: $CI_REGISTRY_IMAGE
  script:
    - cmake -S.
            -Bbuild
            -GNinja
            -DCMAKE_MODULE_PATH=$PWD/build
            -DCMAKE_BUILD_TYPE=Debug
            -DCSG_CGAL_ENABLED=${ENABLE_CGAL}
            -DCMAKE_CXX_FLAGS="-pedantic-errors"
    - cmake --build build --target unit_tests_csg
    - cd build
    - ctest
  tags:
    - docker

test:cgal:
  variables:
    ENABLE_CGAL: "ON"
  <<: *cmake_def

test:no_cgal:
  variables:
    ENABLE_CGAL: "OFF"
  <<: *cmake_def

# .spack-test:spack: &spack_def
#   stage: test
#   image: $CI_REGISTRY_IMAGE:latest
#   needs: ['build-img']
#   when: manual
#   script:
#     - /usr/local/spack/bin/spack repo add .spack/repo
#     - /usr/local/spack/bin/spack install csg-eb ${NO_CSG}
#   tags:
#     - docker

# spack-test:cgal:
#   variables:
#     NO_CSG: ""
#   <<: *spack_def

# spack-test:no_cgal:
#   variables:
#     NO_CSG: "~cgal"
#   <<: *spack_def

.test:gnumake: &gnumake_def
  stage: test
  variables:
    BUILD: ${CI_PROJECT_DIR}/build

  image: $CI_REGISTRY_IMAGE
  script:
    - make
  tags:
    - docker

gnumake:cgal:
  variables:
    ENABLE_CGAL: "ON"
  <<: *gnumake_def

gnumake:no_cgal:
  <<: *gnumake_def
